In [ ]:
import pandas as pd
import raw_to_def as rtd
import os
# let us test set b
train_path = '../data/dataset/set-a'
train_label_path = '../data/dataset/Outcomes-a.txt'

files = [f for f in os.listdir(train_path) if f.endswith(".txt")]
files.sort()

patient_data =[]
patient_outcomes =[]

for i in enumerate(files):
    data_path = os.path.join(train_path, files[i[0]])
    patient_data.append( pd.read_csv(data_path))
df = rtd.raw_to_df(patient_data)


patient_outcomes = pd.read_csv(train_label_path)
Mortality_labels = patient_outcomes["In-hospital_death"]
Mortality_labels


df

,RecordID,Age,Gender,ICUType,Height,Albumin,ALP,ALT,AST,Bilirubin,...,Platelets,RespRate,SaO2,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight
0,132539.0,54.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,185.0,732.0,NaN,NaN,37.8,NaN,NaN,6500.0,20.6,NaN
1,132540.0,76.0,1.0,2.0,175.3,NaN,NaN,NaN,NaN,NaN,...,135.0,NaN,581.0,7712.0,37.1,NaN,NaN,6214.0,33.8,81.6
2,132541.0,44.0,0.0,3.0,NaN,5.0,232.0,166.0,399.0,5.8,...,113.0,NaN,95.0,2011.0,37.2,NaN,NaN,5123.0,14.1,56.7
3,132543.0,68.0,1.0,3.0,180.3,4.4,105.0,12.0,15.0,0.2,...,284.0,912.0,NaN,NaN,37.0,NaN,NaN,3275.0,28.2,84.6
4,132545.0,88.0,0.0,3.0,NaN,3.3,NaN,NaN,NaN,NaN,...,97.0,920.0,NaN,NaN,36.7,NaN,NaN,2361.0,8.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,142665.0,70.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,218.0,NaN,NaN,6096.0,36.9,NaN,NaN,1980.0,29.0,87.0
3996,142667.0,25.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,118.0,388.0,NaN,NaN,36.8,NaN,NaN,4675.0,14.2,166.4
3997,142670.0,44.0,1.0,3.0,NaN,NaN,51.0,20.0,20.0,0.5,...,229.0,NaN,NaN,754.0,38.4,NaN,NaN,4193.0,33.2,109.0
3998,142671.0,37.0,1.0,3.0,NaN,3.1,507.0,5913.0,5056.0,2.2,...,314.0,NaN,NaN,8664.0,37.4,NaN,NaN,146.0,52.1,87.4
3999,142673.0,78.0,0.0,4.0,157.5,4.4,88.0,37.0,252.0,1.2,...,82.0,NaN,1462.0,10261.0,37.3,NaN,NaN,2772.0,64.6,87.3

In [13]:
df['MechVent']

0       False
1         1.0
2         1.0
3       False
4       False
        ...
3995      1.0
3996    False
3997      1.0
3998      1.0
3999      1.0
Name: MechVent, Length: 4000, dtype: object

In [12]:
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

iterative_imp = IterativeImputer(random_state=0)
X = df.drop(columns=['RecordID'])  # drop ID from features
X_imputedbetter = iterative_imp.fit_transform(X)
imputed_df = pd.DataFrame(X_imputedbetter,columns = X.columns)
imputed_df['MechVent']

0       0.0
1       1.0
2       1.0
3       0.0
4       0.0
       ...
3995    1.0
3996    0.0
3997    1.0
3998    1.0
3999    1.0
Name: MechVent, Length: 4000, dtype: float64

#### Models to use




✅ 1. Perceptron
##

from sklearn.linear_model import Perceptron
## 
✅ 2. Fisher’s Linear Discriminant (LDA)
##

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
##
✅ 3. Least Squares (Linear Regression for classification)
##

from sklearn.linear_model import RidgeClassifier  # or LogisticRegression for binary classification
##

✅ 4. Naive Bayes
##

from sklearn.naive_bayes import GaussianNB  # For continuous data
or
##

from sklearn.naive_bayes import MultinomialNB  # For count data
##

✅ 5. Non-Naive Bayes (e.g., Bayesian Ridge, or more advanced Bayes classifiers)
##

from sklearn.linear_model import BayesianRidge  # Not a classifier, but for regression
##

For non-naive Bayesian classifiers, you'd often use custom probabilistic models or PyMC3.
##

✅ 6. Logistic Regression
##

from sklearn.linear_model import LogisticRegression
##

✅ 7. K-Nearest Neighbors (KNN)
##

from sklearn.neighbors import KNeighborsClassifier
##

✅ 8. Support Vector Machines (SVM)
##

from sklearn.svm import SVC
##

✅ 9. Decision Trees
from sklearn.tree import DecisionTreeClassifier
##

✅ 10. Gradient Boosting
##

from sklearn.ensemble import GradientBoostingClassifier
or better:
from xgboost import XGBClassifier
##

✅ 11. Random Forest
##

from sklearn.ensemble import RandomForestClassifier
##

✅ 12. Artificial Neural Networks (ANN)
##

import torch
import torch.nn as nn